.App {
  text-align: center;
  min-height: 100vh
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgba(255,255,255,1);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-dark-grey {
  background-color: rgba(26, 28, 31, 1)
}

.height-100{
  min-height: 100vh
}

body{
  overflow-x: hidden;
}

.color-white {
  color: rgba(255,255,255,1) !important
}

.color-grey {
  color: rgba(160, 164, 172, 1)
}

.link-card{
  border: solid 1px rgba(255,255,255,1);
  transition: 0.5s
}

.link-card:hover{
  background-color: rgba(40, 44, 52, 1)
}

#search-icon{
  right: 5px;
  color: rgba(119, 124, 134, 1)
}

.link-url {
  transition: 0.5s
}

.link-url:hover {
  color: rgba(255,255,255,1);;
}

a:hover {
  text-decoration: none;
}

.bg-grey{
  background-color: rgba(108,117,125,1);
}